.game-card {
    display: flex;
    width: auto;
    border: 2px solid #e6e2e2;
    padding: 15px;
    border-radius: 5px;
    background-color: #ffefef;
    justify-content: space-between;
    align-items: center;
}

.game-title {
    font-size: 1.15rem;
    font-weight: 700;
}

.game-schedule {
    font-size: 0.75rem;
    color: #646464;
}